* {
  font-family: "Noto Sans KR", sans-serif;
}

/* 내비게이션 픽셀크기증가 - 추교수님 요구사항 */
.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 15px !important;
}

/* Apply "Noto Sans KR" font to all heading  elements  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans KR", sans-serif !important;
  margin-bottom: 0.5rem;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

/* 아코디언뷰 */
.ui-state-active {
  background: rgba(63, 81, 181, 1);
  border: none;
}

.ui-accordion-header {
  border: none;
}

.ui-accordion .ui-accordion-content {
  border: none;
  background: none;
}

/* navbar */
.navbar-brand img {
  margin-right: 4px;
}

/* gallery */
.gallery-title-row {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  align-items: center;
}

.gallery-title-row a {
  color: white;
  background: var(--detail-button-color);
  border-radius: 2vw;
  padding: 0 8px;
  height: 32px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.gallery-title-row span {
  margin-right: 4px;
  font-size: 12px;
}

.btn-rotate {
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
  display: flex;
}

.gallery-title-row button {
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-title-row svg {
  height: 12px;
  width: auto;
  fill: var(--secondary);
}

.gallery-title-row a:hover {
  background: var(--hover-color);
}

.gallery-title-row svg:hover {
  fill: var(--secondary);
}

.btn-rotate:hover {
  transform: rotate(90deg);
  background: white;
}

/* 뉴스 갤러리 */
.card-img-top {
  object-fit: contain;
  height: 300px;
  border-bottom: 1px solid #c9c9c9;
}

.gallery-card-container {
  display: flex;
  flex-direction: row;
  /* margin: 16px 0; */
  justify-content: space-between;
}

.gallery-card-container .card {
  /* margin: 0 16px 0 0; */
  width: 220px;
}

.card-body {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-title {
  margin: 0 !important;
  text-overflow: ellipsis;
  /* 넘치는 텍스트를 ...로 표시 */
  display: -webkit-box;
  /* 유연한 레이아웃을 위한 플렉스 박스를 사용 */
  -webkit-box-orient: vertical;
  /* 수직 방향으로 박스 정렬 */
  -webkit-line-clamp: 3;
  /* 최대 줄 수를 설정 */
  line-clamp: 3;
  /* 이 속성은 최신 브라우저에서만 지원 */
  white-space: normal;
  /* 텍스트를 여러 줄로 표시 */
  overflow: hidden;
}

.card-text {
  padding: 0 !important;
  color: gray;
  font-size: 12px;
}

/* 갤러리 디테일 페이지 */
.gallery-detail .card {
  margin: 16px 0;
  height: 500px;
}

.gallery-detail h2 {
  margin: 40px 0;
  text-align: center;
}

.news-gallery-card-body {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-detail .list-group-item {
  padding: 0px 8px;
  margin: 0;
}

.gallery-detail span:first-of-type {
  font-weight: 600;
  margin-right: 4px;
}

/* chip gallery */
/* slider slick */

.slick-next,
.slick-prev {
  width: 30px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 0;
}

.slick-prev:before,
.slick-next:before {
  color: rgba(0, 0, 0, 0.3);
  font-size: 32px;
}

.slick-prev {
  left: -36px;
  z-index: 1;
}

.slick-next {
  right: -36px;
  z-index: 1;
}

.chip-item {
  margin: 0px 12px;
}

/* hpic in media */
.iframe-container {
  margin-top: 4%;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 비율 */
  height: 0;
}

.video-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}

/* publication */
.pub-title-row {
  display: flex;
  flex-direction: column;
}

.pub-nav-tabs .nav-link {
  color: #454545;
  border: none;
  cursor: pointer;
}

.pub-nav-tabs a:hover {
  /* color: #8c9eff; */
  background: #f6f6f6;
}

.pub-nav-tabs.nav-tabs .nav-link.active {
  color: var(--theme-color);
  font-weight: 600;
  background: #f6f6f6;
}

.pub-row {
  display: flex;
}

.pub-year-title {
  background: transparent;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pub-year-title h3 {
  padding: 0;
  margin: 0;
}

.list-group-item a {
  margin-left: auto;
}

.card-body {
  padding: 16px;
}

.pub-card {
  /* width: 300px; */
  cursor: pointer;
}

.pub-card img {
  height: 180px;
  object-fit: cover;
}

#publications .card-text {
  font-size: 16px;
}

#publications .list-group-item {
  padding: 0px 8px;
  margin: 0;
}

#publications .badge {
  margin: 4px 6.5px 4px 0px;
  font-size: 12px;
  font-weight: 300;
  word-break: break-word;
  white-space: normal;
  text-align: left;
}

/* Publications - Patent */
#patent .card-text {
  margin-bottom: 4px;
}

#patent .process-badge {
  background-color: var(--application-completed);
}

/* 칩 갤러리 상세 페이지 카드 디자인 */
.chip-detail-card img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  /* padding: 12px; */
}

.chip-detail-card .card-text {
  /* font-size: 16px; */
}

.chip-detail-card .list-group-item {
  padding: 0px 8px;
  margin: 0;
}

.chip-detail-card span:first-of-type {
  font-weight: 600;
  margin-right: 4px;
}

/* icon */
.network-icon {
  margin-top: 4px;
}

.network-icon img {
  height: 1.5rem;
  width: 1.5rem;
}

.edu-item {
  display: flex;
}

.contact-icon {
  display: flex;
  align-items: center;
}

.contact-icon img {
  margin-right: 12px;
  width: 1.5rem;
}

.contact-icon .location-icon {
  height: 2rem;
  margin-right: 12px;
}

.contact-ul {
  padding-left: 0;
}

.slider {
  position: relative;
  width: 100%;
  height: 234px;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
}

.slides {
  margin-left: 64px;
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 12px;
}

.slide {
  flex: 0 0 auto;
  /* 슬라이드의 너비를 고정 */
  width: 200px;
  box-sizing: border-box;
  height: 200px;
  /* 슬라이드 높이를 200px로 설정 */
  background-color: #f7f7f7;
  padding: 12px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
  display: block;
  pointer-events: none;
  /* 마우스 이벤트 방지 */
  user-select: none;
  /* 텍스트 선택 방지 */
}

/* 화살표 버튼 스타일 */
.arrow {
  width: 48px;
  /* 화살표 버튼의 너비 */
  height: 48px;
  /* 화살표 버튼의 높이 */
  background-color: rgba(0, 0, 0, 0.2);
  /* 배경 색상 */
  color: white;
  /* 화살표 색상 */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* 직사각형으로 만들기 위해 테두리 반경을 0으로 설정 */
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.arrow.next {
  right: 10px;
  /* 오른쪽 화살표 위치 */
}

.arrow.prev {
  left: 10px;
  /* 왼쪽 화살표 위치 */
}

/* 화살표 아이콘 스타일 */
.arrow::before {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
}

.arrow.next::before {
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #fff;
}

.arrow.prev::before {
  border-width: 10px 15px 10px 0;
  border-color: transparent #fff transparent transparent;
}

.modal-body-title {
  font-weight: 500;
}

.research-projects-ul li {
  margin-bottom: 12px;
}

.sponsor {
  color: #770001;
  font-weight: 550;
}

.hamburger-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.hpic-img {
  width: 100%;
  /* margin: 0px 0px 0px 0px auto; */
  /* border-radius: 8px; */
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

/* people cards */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.accordion div:first-child {
  margin-top: 0;
}

.user-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
}

/* 교수님 왼쪽 프로필 */
.portrait-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.portrait-title h2 {
  font-size: 1.2vw;
}

.portrait-title h3 {
  font-size: 0.8vw;
}

/* 교수님 오른쪽 프로필 */
.profile-right {
  /* margin-left: 5px; */
}

.profile-right p {
  font-size: 14px;
  margin-bottom: 2px;
}

/* 학생들 프로필 */
.user-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 28%;
}

.user-card-img img {
  object-fit: contain;
  padding: 4px;
}

.user-card-info {
  text-align: left;
  padding-left: 12px;
  margin-left: 20px;
  width: 60%;
}

.user-card-info h2 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Bebas Neue", sans-serif;
}

.user-card-info p {
  font-size: 14px;
  margin-bottom: 2px;
}

.user-card-info p span,
.profile-right span {
  font-weight: 700;
  margin-right: 10px;
}

/* News Section */
.recipient-name {
  margin-bottom: 4px;
}

.news-gallery-items .card {
  margin-right: 4px;
}

.news-ul p,
.research-projects-ul li p {
  margin-bottom: 8px;
}

.news-ul .news-date,
.research-date {
  font-style: italic;
}

.col-lg-8 h5:not(:first-child),
.chip-gallery-title-row {
  margin-top: 40px;
}

section {
  overflow: hidden;
}

.home-section:first-of-type {
  padding: 0;
}

/* 캐러셀 */

#carousel-autoplaying {
  height: 800px;
  width: 100%;
  background: gray;
  padding: 0;
  overflow: hidden;
}

.carousel-item img {
  height: 800px;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.carousel-item {
  position: relative;
  width: 100%;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.carousel-item-left {
  transform: translateX(-100%);
}

.dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* 어두운 효과 */
  z-index: 1;
}

.carousel-inner .autoplay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
}

.autoplay div {
  background: rgba(109, 109, 109, 0.1);
}

.autoplay .sponsor-item {
  /* border: 1px solid red; */
  background: rgba(182, 182, 182, 0.5);
  border-radius: 12px;
  color: white;
  font-size: 16px;
  height: 100px;
  margin: 56px 20px 56px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-sponsor-title {
  position: absolute;
  top: 600px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  z-index: 1;
  color: white;
}

.home-description-container {
  position: absolute;
  top: 300px;
  left: 64px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  z-index: 1;
  color: white;
}

.home-description-container .uni {
  width: fit-content;
  letter-spacing: 2px;
}

.home-description-container h1 {
  margin-top: 0;
  color: white;
  font-size: 60px;
  letter-spacing: 12px;
  font-weight: 500;
}

.home-description-container .txt {
  /* border: 1px solid red; */
  width: fit-content;
  margin-top: 12px;
  letter-spacing: 2px;
  font-size: 12px;
}

@media (max-width: 1399px) {
  .portrait-title h2 {
    font-size: 1.8vw;
  }

  .portrait-title h3 {
    font-size: 1.4vw;
  }
}

@media (max-width: 1199px) {
  .video-embed {
    width: 100%;
    height: 100%;
  }

  #patent .card-text {
    margin: 0 !important;
    overflow: hidden;
    /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis;
    /* 넘치는 텍스트를 ...로 표시 */
    display: -webkit-box;
    /* 유연한 레이아웃을 위한 플렉스 박스를 사용 */
    -webkit-box-orient: vertical;
    /* 수직 방향으로 박스 정렬 */
    -webkit-line-clamp: 2;
    /* 최대 줄 수를 설정 */
    line-clamp: 2;
    /* 이 속성은 최신 브라우저에서만 지원 */
    white-space: normal;
    /* 텍스트를 여러 줄로 표시 */
  }
}

/* Breakpint LG - 태블릿*/
@media (max-width: 992px) {
  .gallery-detail .card {
    margin: 16px 0;
  }

  #patent .card-text {
    margin: 0 !important;
    overflow: hidden;
    /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis;
    /* 넘치는 텍스트를 ...로 표시 */
    display: -webkit-box;
    /* 유연한 레이아웃을 위한 플렉스 박스를 사용 */
    -webkit-box-orient: vertical;
    /* 수직 방향으로 박스 정렬 */
    -webkit-line-clamp: 3;
    /* 최대 줄 수를 설정 */
    line-clamp: 3;
    /* 이 속성은 최신 브라우저에서만 지원 */
    white-space: normal;
    /* 텍스트를 여러 줄로 표시 */
  }

  .portrait-title h2 {
    font-size: 3vw;
  }

  .portrait-title h3 {
    font-size: 2vw;
  }

  .pub-title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* Breakpoint MD - 모바일*/
@media (max-width: 767px) {
  .card-body {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .portrait-title h2 {
    font-size: 4vw;
  }

  .portrait-title h3 {
    font-size: 2.5vw;
  }

  /* 메인 홈 */
  .home-description-container {
    position: absolute;
    top: 100px;
    left: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    z-index: 1;
    color: white;
    padding-right: 40px;
  }

  .home-description-container h1 {
    font-size: 20px;
  }

  .txt {
    /* border: 1px solid red; */
    width: fit-content;
    margin-top: 12px;
    letter-spacing: 2px;
    font-size: 12px;
  }

  .home-description-container p {
    word-wrap: break-word;
    /* 긴 단어를 줄 바꿈 */
    overflow-wrap: break-word;
    /* 긴 단어를 줄 바꿈 */
    padding: 0 32px 0 0;
    /* 양쪽에 패딩 추가 */
    box-sizing: border-box;
    /* 패딩을 포함한 박스 크기 계산 */
  }

  .user-card-info {
    width: 100%;
    padding: 4px 8px;
    margin-left: 0px;
  }

  .user-card-info h2 {
    margin-top: 12px;
    font-size: 35px;
    text-align: center;
  }

  .user-card-info p span {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
  }

  .user-card {
    display: block;
  }

  .user-card-img {
    width: 100%;
    height: 200px;
  }

  .user-card-img img {
    width: 100%;
    height: 200px;
  }
}

/* Breakpoint SM */
@media (max-width: 575px) {
  #patent .card-body {
    height: 120px;
  }

  #patent .card-text {
    margin: 0 !important;
    overflow: hidden;
    /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis;
    /* 넘치는 텍스트를 ...로 표시 */
    display: -webkit-box;
    /* 유연한 레이아웃을 위한 플렉스 박스를 사용 */
    -webkit-box-orient: vertical;
    /* 수직 방향으로 박스 정렬 */
    -webkit-line-clamp: 3;
    /* 최대 줄 수를 설정 */
    line-clamp: 3;
    /* 이 속성은 최신 브라우저에서만 지원 */
    white-space: normal;
    /* 텍스트를 여러 줄로 표시 */
  }

  .portrait-title h2 {
    font-size: 6vw;
  }

  .portrait-title h3 {
    font-size: 4vw;
  }

  .card-body {
    padding: 12px;
  }

  .home-description-container {
    left: 32px;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .chip-item {
    margin: 0px 16px;
  }
}

/* 모바일 작은 화면 */
@media (max-width: 434px) {
  .portrait-title h2 {
    font-size: 7vw;
  }

  .portrait-title h3 {
    font-size: 5vw;
  }

  .gallery-title-row a {
    border-radius: 4vw;
  }

  .home-section h1 {
    font-size: 6vw;
  }

  /* Publications */
  .pub-title-row ul li a {
    font-size: 3vw;
    padding: 1vw 2vw;
  }
}

@media (max-width: 344px) {
  #patent .card-text {
    -webkit-line-clamp: 4;
    /* 최대 줄 수를 설정 */
    line-clamp: 4;
    /* 이 속성은 최신 브라우저에서만 지원 */
  }

  #patent .card-body {
    height: 156px;
  }
}

:root {
  --theme-color: #3f51b5;
  --detail-button-color: #677dff;
  --hover-color: #4a5fd4;
  --application-completed: #d68787;
}